#!/usr/sbin/nft -f
# managed by script
# manage_nft_abuseip_blocklist.py

table inet blocklist {
    set ipv4-blackhole {
        type ipv4_addr
        # elements = { }
    }

    set ipv6-blackhole {
        type ipv6_addr
        # elements = { }
    }

    chain dropoffender {
        type filter hook input priority filter - 2; policy accept;
        ip saddr @ipv4-blackhole drop
        ip6 saddr @ipv6-blackhole drop
    }
}
