#!/usr/sbin/nft -f
{{ ansible_managed | comment }}

# Defined variables
{% for variable in _nftables_required_variables %}
# {{ nftables_variables[variable].comment }}
{{ nftables_variables[variable].def }}

{% endfor %}
