#!/usr/sbin/nft -f
{{ ansible_managed | comment }}

{% if nftables_ruleset[table].comment is defined -%}
# {{ nftables_ruleset[table].comment }}
{% endif %}
table {{ table }} {
{% if nftables_enable_filter_sets and table == "inet firewall" %}
    include "{{ nftables_dir }}/filter_sets.nft"
{% endif %}

{% for chain, chain_rules in nftables_ruleset[table].chains.items() %}
    chain {{ chain }} {

{% for chain_rule in chain_rules %}
{%- if nftables_rules[chain_rule].def | is_list %}
{{ nftables_rules[chain_rule].def | multiline_indent(indent=8) }}
{% else %}
{{ nftables_rules[chain_rule].def | indent(width=8, first=True) }}
{% endif -%}
{% endfor %}
    }

{% endfor -%}
}
