{{ ansible_managed | comment }}

[Unit]
Description=nftables
Documentation=man:nft(8) http://wiki.nftables.org
Wants=network-pre.target
Before=network-pre.target shutdown.target
Conflicts=shutdown.target
DefaultDependencies=no
StartLimitInterval=100
StartLimitBurst=3

[Service]
Type=oneshot
RemainAfterExit=yes
StandardInput=null
ProtectSystem=full
ProtectHome=true
ExecStart=/usr/sbin/nft -f /etc/nftables/nftables.nft
ExecReload=/usr/sbin/nft -f /etc/nftables/nftables.nft
ExecStop=/usr/sbin/nft flush ruleset
Restart=on-failure
RestartSec=5

[Install]
WantedBy=sysinit.target
