#!/usr/sbin/nft -f
{{ ansible_managed | comment }}

# include all files in current directory using an absolute path

flush ruleset

# include variables
include "{{ nftables_dir }}/defines.nft"

# Static tables
{% for table, contents in nftables_ruleset.items() %}
{%- if contents.comment is defined %}
# {{ contents.comment }}
{% endif %}
include "{{ nftables_dir }}/{{ table | strip_family }}.nft"

{% endfor %}
{% if nftables_abuseip_api_key %}
# ipv4/ipv6 blocklist of bad reputation IPs
include "{{ nftables_dir}}/blocklist.nft"
{% endif %}

# Dynamic tables
{% for table, contents in nftables_dynamic_tables.items() %}
{%- if contents.comment is defined %}
# {{ contents.comment }}
{% endif %}
include "{{ nftables_dir }}/{{ table | split(' ') | join('_') }}.nft"

{% endfor %}
