#!/usr/bin/env bash
{{ ansible_managed | comment }}

# write flush of the table to a file to avoid losing state when reloading firewall
# handy for docker, fail2ban and blocklist
{% for table in  nftables_dynamic_tables.keys() %}
sudo nft list table {{ table }} | tee {{ nftables_dir }}/{{ table | split(' ') | join('_') }}.nft > /dev/null

{% endfor -%}
# reload the ruleset afterwards
sudo nft -f {{ nftables_dir }}/nftables.nft
