{{ ansible_managed | comment }}

[Unit]
Description=Runs blocklist manage script
Wants=update-abuseip-blocklist.timer

[Service]
ExecStart={{ nft_script_folder }}/manage_nft_abuseip_blocklist.py

[Install]
WantedBy=multi-user.target
